<div class="reg_main" id="content-member-div">
	<div class="reg_inner" id="reg_inner_main" style="display: ;">
		<div class="reg_inner_header">
			<div class="rih_left2" id="member-ele">
				我的
			</div>

		</div>
	</div>
	<div class="reg_mid">
		<div class="mui-card member-ele">
			<div class="mui-card-content">
				<div class="mui-card-content-inner">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<div style="display: inline-flex;">
								<div style="width: 60px;">
									<img style="border-radius: 35%;width: 100%;" src="https://t11.baidu.com/it/u=1562117557,2028538133&fm=58" />
								</div>
								<div style="width:250px;">
									<p style="font-size: 20px; margin-left: 10px;">hi ~ {{member.username}} 欢迎回来。</p>
									<button type="button" class="mui-btn mui-btn-link" 
									 id="bandMobile"
									v-if="member.id!=null &&(member.mobile==null||member.mobile=='')">
										绑定手机
									</button>
									<button type="button" class="mui-btn mui-btn-link"
									 id="toLogin" 
									v-if="member.mobile==null||member.mobile==''">
										手机号登录
									</button>
								</div>
							</div>
						</li>

						<li class="mui-table-view-cell">
							<span style="margin-right: 2rem;"
								  v-if="member.id==null">
								 请求中
							</span>
							<span style="margin-right: 2rem;" v-if="member.mobile!=null&&member.mobile!=''">
								手机:{{member.mobile}}
							</span>
							
							
							<span v-if="member.id!=null&&member.point>=0" class="point-span">
								积分:{{member.point}} {{member.point>0?',可兑换VIP':''}}
							</span>

						</li>
						<li class="mui-table-view-cell" >
							<span style="margin-right: 0rem;" v-if="member.vipBool">
								<i class="fa fa-calendar-check-o" aria-hidden="true"></i>VIP到期时间:{{member.expireTime}}
							</span>
							<span v-if="!member.vipBool">
								已过期，兑换VIP无限观看
							</span>
						</li>

						<li class="mui-table-view-cell" style="display:">

							<input type="text" style="width: 75%;padding: 4px 5px;height: 2rem;font-size: 14px;margin:0 5px"
								   class="mui-input-clear" placeholder="请输入积分、邀请码或者兑换卡号" data-input-clear="5" id="rechargeCardCode">

							<button type="button" class="mui-btn mui-btn-primary" style="margin-left: .5rem;" id="submitExchangeCard">兑换VIP</button>

						</li>
						<li class="mui-table-view-cell" id="daili-li">
							<p>加入土豆群可免费获取兑换卡@fuli92</p>
						</li>
						<li class="mui-table-view-cell" id="vip-card-li" >
							<p>Potato客服@mmfuli</p>
						</li>
						<li id="" class="mui-table-view-cell">
							<p></p>
						</li>

						<!-- <li class="mui-table-view-cell hidden" data-type="alipay" >
							<font style="color:red">支付不定期开启</font>
						</li> -->



						<!--暂停了，晚点再来吧，开通VIP请联系土豆客服@timimi-->
						<li tid="3194" class="mui-table-view-cell paytid " data-type="alipay" >
							<p style="color:blue">支付宝支付10元=1天VIP</p>
						</li>
						<li tid="3196" class="mui-table-view-cell paytid " data-type="alipay" >
							<p style="color:blue">支付宝支付45元=30天VIP(1.5元/天)</p>
						</li>
						
						<!--
						<li tid="3195" class="mui-table-view-cell paytid " data-type="alipay" >
							<p style="color:Red">支付宝支付6元=1天VIP(6折优惠)</p>
						</li>
						<li tid="3197" class="mui-table-view-cell paytid " data-type="alipay" >
							<p style="color:Red">支付宝支付30元=30天VIP(1元/天-6折优惠)</p>
						</li>
						-->



						<div class="mui-slider-item" id="member_di" style="padding: 4px;text-align: center;display: none;">
							
						</div>

				</div>
			</div>

		</div>
	</div>
</div>
<div id="pay-div" style="display:none"></div>
<script>
    var ve = new Vue({
        el: '#content-member-div',
        data: {
            "member": {"mobile":null,"id":null,"username":""},
            "gifs": [],
            "pointList": []
        }
    });
	//alert(ve.member.nickname)
    if (window.location.href.indexOf("http") >= 0) {
        init();
    } else {
        mui.plusReady(function() {
            init();
        });
    }

    //mui.plusReady(function() {init();});
    function init() {
        postJSON(member_get_info_api, {}, '加载中', function(res) {
            if (res.status==0) {
                ve.member = res.content;
				if(typeof ve.member.token!="undefined"){
					localStorage.setItem(x_access_token,ve.member.token);
				}
				
            }
        });

        $(".mui-card").hide();
        var showEle = getUrlParms("showEle");
        if (showEle) {
            $("." + showEle).show();
        } else {
            $("#member-ele").addClass("activated");
            $(".member-ele").show();
        }
    }
	var mobileReg = /^\+?[1-9][0-9]*$/;
    mui('body').on("tap", "#bandMobile", function() {
		mui.prompt('输入手机号码', '11位手机号码,找回密码使用',"绑定手机", ['确定', '取消'], function(e) {
			
			if(e.index == 0) {
				if(!mobileReg.test(e.value)||e.value.length!=11) {
					mui.alert("请输入正确的手机号码");
					return false;
				}
				postJSON(member_bind_mobile_api+e.value,{},'加载中', function(res) {
					if (res.status==0&&res.content==0) {
						mui.alert("该手机号已存在，可直接登录");
					}else if (res.status==0&&res.content>=1) {
						mui.alert("绑定成功，默认密码为今天的日期"+res.content);
						ve.member.mobile = e.value;
					}else{
						mui.alert(res.message);
					}
					console.log(res.content);
				})
			} else {
				
			}
		});
        //mui.redirectPage("left_content.html?code=login");
    });
    mui('body').on("tap", ".point-span", function() {
        alert("兑换框中输入积分数量，点击提交，10个积分=1天VIP");
    });
	mui('body').on("tap", "#toLogin", function() {
	    mui.redirectPage("left_content.html?code=login");
	});
    mui('body').on("longtap", ".rih_left2", function() {
        clearMemberStorage();
        localStorage.removeItem(x_access_token);
        ve.member.mobile=null;ve.member.point=0;ve.member.vipBool=false;
    });
    mui('body').on("tap", "#daili-li", function() {
        //alert("首先你得安装土豆聊天,然后咨询客服@timimi");
        //plus.runtime.openURL("https://m.lynnconway.me/mmfuli");

    });
    mui('body').on("tap", "#vip-card-li", function() {
        //plus.runtime.openURL("https://m.lynnconway.me/mmfuli");

    });
    mui('body').on("tap", "#submitExchangeCard", function() {
        let rechargeCardCode = $("#rechargeCardCode").val();
        if (rechargeCardCode) {} else {
            showMarkTip("请输入正确的兑换卡卡号",2);
        }
        postJSON(exchange_api+rechargeCardCode, {}, null, function(res) {
            //let count = res.value;
            if (res.content) {
                alert("兑换成功,"+res.content);
                $("#rechargeCardCode").val("");
            }else{
                alert(res.message);
            }
        });

    });

    var checker = null;
    var btnArray = ['已完成支付', '碰到问题'];
    mui('body').on("tap", ".paytid", function() {
        var tid = $(this).attr("tid");
        postJSON(rech_create_api + "/" + tid, {}, "正在启动支付",
            function(data) {
                if (data.status!=0) {
                    mui.toast(data.message);
                    return;
                }
                sessionStorage.setItem("tid", tid);
                sessionStorage.setItem("orderCode", data.content);
				let payUrl = rech_pay_api + data.content;
				if(typeof plus=="undefined"){
					location.href = payUrl;
				}else{
					plus.runtime.openURL(payUrl);
					let context = plus.android.importClass("android.content.Context");
					let mainActivity = plus.android.runtimeMainActivity();
					let clip = mainActivity.getSystemService(context.CLIPBOARD_SERVICE);
					plus.android.invoke(clip, "setText", payUrl);
				}
				         
				
				//alert("支付地址已经复制，请使用浏览器打开并支付");
				 
                mui.confirm('支付地址已复制，正跳转支付宝网页支付；无法跳转可手动打开浏览器粘贴地址支付。', '支付确认', btnArray, function(e) {
                    if (e.index == 0) {
                        mui.toast("正在验证支付结果，如果支付正常稍后会自动到账");
                    } else {
                        mui.alert("无法支付可手动打开浏览器粘贴地址进行支付");
                        sessionStorage.removeItem("tid");
                        sessionStorage.removeItem("orderCode");
                    }
                    return true;
                })
				
                


            });
    });
    var checker = setInterval(function() {
        checkOrder()
    }, 4000);

    function checkOrder() {
        let tid = sessionStorage.getItem("tid");
        if (tid) {} else {
            return;
        }
        let orderCode = sessionStorage.getItem("orderCode");
        if (orderCode) {} else {
            return;
        }
        postJSON(rech_check_api + "/" + tid + "/" + orderCode, {}, "",
            function(data) {
                if (data.status==0) {
                    clearInterval(checker);
                    sessionStorage.removeItem("tid");
                    sessionStorage.removeItem("orderCode");
                    alert("支付成功，稍后会自动到账");
                    clearInterval(checker);
                }
            }, false);
    }
</script>
